.container{
    margin-right: 47px;
    margin-left: 47px;
}

.header{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <400px>;
    font-style: normal;

    position: fixed;     /* Хедер зафиксирован на экране */
    top: 0;              /* Прижат к самому верху */
    left: 0;
    width: 100%;         /* Растянут на всю ширину */
    height: 120px;        /* Высота шапки */
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    box-sizing: border-box; /* Чтобы padding не раздувал ширину */
    
    z-index: 9999;           /* Хедер всегда поверх остального контента */
  }
  
.header img{
    width: 261px;
    height: 93px;
}
.header a{
    text-decoration: none;
    color: black;
    padding-left: 25px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <400px>;
    font-style: normal;
    font-size: 20px;
}
.header a:hover {
    color: #FF7CA5;
    transition: .2s;
}

.owner{
    margin-top: 120px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <600px>;
    font-style: normal;
}
.boxes{
    display: flex;
    justify-content: center;
    gap: 40px;

}
.imghere{
    height: 524px;
    width: 424px;
    background-color: #D9D9D9;
    border-radius: 25px;
}