
.container {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    width: 600px;
}

.box {
    width: 60px;
    height: 60px;
    background: rgb(255, 131, 228);
}

.rotate {
    animation: rotateAnim 6s infinite linear;
}

@keyframes rotateAnim {
    from { transform: rotate(0deg); }
    to { transform: rotate(180deg); }
}

.scale {
    animation: scaleAnim 1.5s infinite alternate;
}

@keyframes scaleAnim {
    from { transform: scale(1); }
    to { transform: scale(3); }
}

.move {
    position: relative;
    animation: moveAnim 2s infinite alternate;
}

@keyframes moveAnim {
    from { left: 0; }
    to { left: 50px; }
}

.skew {
    animation: skewAnim 1.5s infinite alternate;
}

@keyframes skewAnim {
    from { transform: skew(0deg); }
    to { transform: skew(50deg); }
}

.morph {
    animation: morphAnim 4s infinite alternate;
}

@keyframes morphAnim {
    from { border-radius: 0; }
    to { border-radius: 50%; }
}
