box-area {
    width: 400px;
    height: 250px;
    border: 3px solid rgb(0, 0, 0);
    margin: 50px auto;
    position: relative;
    overflow: hidden;
}
.square {
    width: 50px;
    height: 50px;
    background: rgb(255, 55, 55);
    position: absolute;
    animation: bounceBox 4s infinite linear;
}
@keyframes bounceBox {
    0% {
        top: 0;
        left: 0;
        background: rgb(255, 86, 86);
    }
    25% {
        top: 0;
        left: 350px;
        background: blue;
    }
    50% {
        top: 200px;
        left: 350px;
        background: rgb(157, 255, 0);
    }
    75% {
        top: 200px;
        left: 0;
        background: rgb(255, 208, 0);
    }
    100% {
        top: 0;
        left: 0;
        background: rgb(255, 61, 61);
    }
}
