.cont{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.item{
    flex: 1 1 150px;
    background: blue;
    color: white;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box1 {
    position: absolute;
    background: rgb(255, 0, 221);
    top: 100px;
    left: 100px;
    z-index: 1;
    width: 100px;
    height: 100px;
}
.box2 {
    position: absolute;
    background: rgb(0, 89, 255);
    top: 50px;
    left: 50px;
    width: 100px;
    height: 100px;
    z-index: 2;
}
