.cont{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.item{
    flex: 1 1 150px;
    background: rgb(255, 79, 138);
    color: white;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}